html{
    background: white;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:white;
}
body{
    margin:0;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./back.png');
    background-size: cover;
}
#nya-button{
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 95ms ease-in-out;
    background-image: url("./bsrin.png");
    background-clip: border-box;
    background-size: 100% auto;
    border: 10px solid orange;
}
#nya-button:active{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    transform: scale(.95,.95) !important;
}
#nya-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: scale(.98,.98);
}
#nya-button:focus{
    outline: none;
}
body a{
    margin: 15px;
    font-size: 30px;
}
body a:visited{
    color:white;
}