:root {
  --bclr: #0a0a0a;
  background-color: var(--bclr);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 30px;
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body::before {
  /* flexing on headers */
  content: "";
}

@media (orientation: landscape) {
  body {
    --size: 1vw;
  }
}

@media (orientation: portrait) {
  body {
    --size: 1vh;
  }
}

.button {
  --depth: 1;
  --border: calc(var(--depth) * var(--size));
  --transform: calc(((1 - var(--depth)) / 2) * var(--size));
  /* --- */
  max-width: 300px;
  max-height: 300px;
  width: calc(28 * var(--size));
  height: calc(28 * var(--size));
  /* --- */
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  /* --- */
  border-radius: 100%;
  border-bottom-style: solid;
  border-bottom-width: var(--size);
  /* --- */
  background-color: hsl(39, 77%, 83%);
  border-color: hsl(39, 26%, 52%);
  box-shadow: 0 5px 20px 0px black;
  /* --- */
  border-bottom-width: var(--border);
  transform: translateY(var(--transform));
  transition: border-bottom-width 100ms ease-out, transform 100ms ease-out;
}

.button:hover,
.button:focus {
  --depth: 0.6;
  outline: none;
}

.button.ready:active,
.button.ready.space {
  --depth: 0;
}

/* EDGE TRANSITION WORKAROUND */
@supports (-ms-ime-align: auto) {
  .button {
    transition: none;
  }
}

.button > .center {
  flex: 1;
  margin: 10%;
  border-radius: 100%;
  background-color: white;
  background-image: url(/resources/img/SIFAS17CROP.png);
  background-position: center;
  background-size: cover;
}

/* Footer */

.footer,
.footer a {
  color: #fafafa;
  text-align: center;
}

.footer > .notice {
  font-size: 14px;
}

.footer > .notice a {
  font-weight: bold;
}

.footer > .me {
  margin-top: 15px;
  font-size: 16px;
}

.me a {
  text-decoration: none;
}

.me > :not(:last-child) {
  margin-right: 2rem;
}
